
*, 
*::after, 
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    height: 100%;
}
ul,
li{
    list-style: none;
}
a{
    text-decoration: none;
}
img{
    display: flex;
}
body{
    height: 100%;
    font-size: 1.6rem;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    color: #444;
}
.container{
    width: 100%;
    max-width: 1160px;
    margin: 0 auto;
    padding-left: 3rem;
    padding-right: 3rem;
}

